<?xml version="1.0" encoding="utf-8"?>
<LiveUnitTestingConfiguration>
  <Enabled>False</Enabled>
  <Projects>
    <!-- Disable building/instrumenting or running tests by adding a project entry
         with a corresponding property. For example:
         <Project Path="./path/to/Project.csproj"
                  Instrument="False"
                  Build="False"
                  Test="False">
           <SkipTests>
             <Test>Fully.Qualified.Name</Test>
           </SkipTests>
         </Project> -->
    <Project Path="Parallel_ForEach_01\Parallel_For_01.csproj" />
    <Project Path="Parallel_For_Stop\Parallel_For_Stop.csproj" />
    <Project Path="Parallel_For_Thread_03\Parallel_For_Thread_03.csproj" />
    <Project Path="ThreadLocalForEach\ThreadLocalForEach_04.csproj" />
    <Project Path="Parallel_ForEach_Cancle\Parallel_ForEach_Cancle_05.csproj" />
    <Project Path="Parallel_Exception_Demo_06\Parallel_Exception_Demo_06.csproj" />
    <Project Path="Parallel_ForEach_Partitioner\Parallel_ForEach_Partitioner.csproj" />
    <Project Path="Parallel_Partioner_Dynamic\Parallel_Partioner_Dynamic.csproj" />
    <Project Path="Parallel_Get_Directory\Parallel_Get_Directory.csproj" />
    <Project Path="Lamda_01\Lamda_01.csproj" />
    <Project Path="Async_Winform\Async_Winform.csproj" />
    <Project Path="Parallel_ForEach_02\Parallel_ForEach_02.csproj" />
    <Project Path="Parallel_For_CancelToken\Parallel_For_02.csproj" />
    <Project Path="Parallel_For_03\Parallel_For_03.csproj" />
    <Project Path="Parallel_For_04\Parallel_For_04.csproj" />
    <Project Path="Parallel_For_05\Parallel_For_05.csproj" />
    <Project Path="Parallel_For_StopBreak\Parallel_For_StopBreak.csproj" />
    <Project Path="Task_01\Task_01.csproj" />
    <Project Path="Parallel_Task_Schedule_WPF\Parallel_Task_Schedule_WPF.csproj" />
    <Project Path="Cancellation_Token_ReadFile\Cancellation_Token_ReadFile.csproj" />
    <Project Path="Task_AggregateException\Task_AggregateException.csproj" />
    <Project Path="Task_UserCancel_Button\Task_UserCancel_Button.csproj" />
    <Project Path="Cancellation_Token_02\Cancellation_Token_02.csproj" />
    <Project Path="PLINQCancellation_2\PLINQCancellation_2.csproj" />
    <Project Path="Task_Sync_01\Task_Sync_01.csproj" />
    <Project Path="Parallel_For_StopBreak_02\Parallel_For_StopBreak_02.csproj" />
    <Project Path="Parallel_For_06\Parallel_For_06.csproj" />
    <Project Path="Parallel_For_07\Parallel_For_07.csproj" />
    <Project Path="PLinQ_01\PLinQ_01.csproj" />
    <Project Path="FastReadParallel\FastReadParallel.csproj" />
    <Project Path="Parallel_Task_Schedule_WPF\Parallel_Task_Schedule_WPF.csproj" />
  </Projects>
</LiveUnitTestingConfiguration>